@model IEnumerable<Chekich_fx.Models.Address>
@{
    ViewData["Title"] = "Collection";
}
<div class="container">

    @if (Model.FirstOrDefault() != null)
    {
        <div>
            <h1>Where would you like to collect your order?</h1>
            <form asp-action="Collection" method="post">
                @foreach (Address address in Model)
                {
                    <div class="radio-containers">
                        <input name="_addressId" type="radio" value="@address.Id" id="@address.Id" checked/>
                        <div>
                            <div>
                                <label asp-for="@address.Id">@address.HouseNumber &nbsp; @address.StreetName</label>
                            </div>
                             <div>
                                <label asp-for="@address.Id">@address.Surbub &nbsp; @address.Surbub</label>
                            </div>
                            <div>
                                <label asp-for="@address.Id">@address.TownOrCity</label>
                            </div>
                             <div>
                                <label asp-for="@address.Id">@address.Code</label>
                            </div>
                        </div>
                    </div>
                }
                <div class="text-center mt-2">
                    <button class="btn btn-primary" type="submit">Confirm</button>
                </div>
            </form>
        </div>
    }
    else
    {
        <h1>We couldn't find any of your address, please use the link below to add your address</h1>
        <div>
            <a class="btn btn-primary" asp-controller="AddressManager" asp-action="Create">Deliver My Order</a>
        </div>
    }
</div>
