@model IEnumerable<Chekich_fx.Models.Order>
@using Chekich_fx.Enums
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery _antiforgery
@{
    ViewData["Title"] = "Index";
    string tokenValue = _antiforgery.GetAndStoreTokens(Context).RequestToken;
}
<div class="container">
     <input type="hidden" id="Verification-Token" name="Verification_token" value="@tokenValue"/>
    @if (Model.FirstOrDefault() != null)
    {
        <h1 class="text-center bg-theme text-primary">Your orders are listed below</h1>
        <div class="row">
            @foreach (Order order in Model)
            {
                <div class="col-12 col-lg-3 p-2">
                    <div class="awe-boxshadow p-2">
                        
                        <div class="text-center">
                            Status: <span class="text-primary">@order.Status</span>
                        </div>
                        @foreach(OrderItem item in order.OrderItems)
                        {
                            <div class="text-center">
                                <div>
                                    <img width="100" src="/Images/Store/Product/@item.Product.ImageFileName"/>
                                </div>
                                <div>
                                    <a asp-controller="Store" asp-action="Details" asp-route-Id="@item.Product.Id" asp-route-returnUrl="@Context.Request.Path">
                                        <b>@item.Product.Name</b>
                                    </a>
                                </div>
                            </div>
                        }
                        <div class="text-center">
                            <hr/>
                            <div class="text-center">
                                Price : @Html.DisplayFor(model=>order.TotalPrice)
                            </div>
                            <div class="text-center mb-2">  
                                @if(order.ReceivalType == ReceivalType.Delivery)
                                {
                                    <button class="bg-primary" onclick="GetDelivery(@order.Id)">Delivery Address <i class="fa fa-caret-down"></i></button>
                                }
                                else
                                {
                                    <button class="bg-primary" onclick="GetCollection(@order.Id)">Collection Address <i class="fa fa-caret-down"></i></button>
                                }
                                <div id="StreetName-@order.Id"></div>
                               <div id="TownOrCity-@order.Id"></div>
                               <div id="Code-@order.Id"></div>
                            </div>         
                            <div>
                                <a asp-action="" class="btn btn-primary">View Order Details</a>
                            </div>
                        </div>
                    </div> 
                </div>
            }
        </div>
    }
</div>
<script src="~/js/order_tracking.js" asp-append-version="true"></script>