@model Chekich_fx.Models.Cart
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery _antiforgery
@{
    ViewData["Title"] = "Index";
    string tokenValue = _antiforgery.GetAndStoreTokens(Context).RequestToken;
}
<div class="container-fluid cart">
    <h1><i class="fa fa-shopping-cart"></i> Shopping Cart</h1>
    @if (Model.Items > 0)
    {
     
        <div class="row">
            @foreach (CartItem cartItem in Model.CartItems)
            {
                <div class="col-12 col-lg-3 p-2">
                    <div class="cart-item">
                        <div class="mb-2">
                            <a class="btn-view btn-store-hover" asp-controller="Store" asp-action="Details" asp-route-Id="@cartItem.ProductId" asp-route-returnUrl="@Context.Request.Path">
                                <i class="fa fa-eye"></i>
                            </a>
                            <div class="size-tag">size<span class="size">@cartItem.ShoeSizeInt</span></div>
                            <a class="btn-trash btn-store-hover" asp-action="DeleteProduct" asp-route-Id="@cartItem.Id"><i class="fa fa-trash"></i></a>

                        </div>
                        <div class="text-center" >
                            <img src="/Images/Store/Product/@cartItem.Product.ImageFileName" alt="shoe image" />
                        </div> 
                        <h2 class="item-name">@Html.DisplayFor(modelItem => cartItem.Product.Name)</h2>
                        
                        <div class="p-2">
                            <div class="text-center">
                                @if (cartItem.Product.DiscountPrice > 0)
                                {
                                    <span class="text-theme" style="text-decoration-line:line-through;font-size:11px;font-weight:900;text-shadow:none">@Html.DisplayFor(modelitem => cartItem.Product.Price)</span>
                                    <span class="text-theme" style="font-size:14px;font-weight:900;">@Html.DisplayFor(modelitem => cartItem.Product.FinalPrice)</span>
                                }
                                else
                                {
                                    <b class="text-dark" style="font-size:0.875rem;font-weight:900;">@Html.DisplayFor(modelitem => cartItem.Product.Price)</b>
                                }
                            </div>
                            <div class="text-center">
                                <div class="quantity-control mb-2">
                                    <h3>Quantity</h3>
                                    <div >
                                        <button class="btn-quantity btn-dec-quantity"><i class="fa fa-caret-down"></i></button>
                                        <span class="quantity-value">@cartItem.Quantity</span>
                                        <button class="btn-quantity  btn-inc-quantity"><i class="fa fa-caret-up"></i></button>
                                    </div>
                                </div>
                                <form asp-controller="Cart" asp-action="UpdateQuantity" method="post">
                                    <input type="hidden" class="quantity-input" name="Quantity" value="@cartItem.Quantity" />
                                    <input type="hidden" name="Id" value="@cartItem.Id" />
                                     <button type="submit" class="btn-update-changes d-none">Update changes</button>
                                </form>
                            </div>
                            <div class="text-right">
                                Total:<span class="item-total-price" style="font-weight:900;font-size:14px;color:black">@Html.DisplayFor(modelItem => cartItem.SubTotalPrice)</span>
                            </div>
                        </div>
                    </div>
                </div>
            
            } 
            <div class="col-12"></div>
             <div class="col-12 col-lg-3"></div>
             <div class="col-12 col-lg-6" >
                <div class="summary-container">
                    <h2>Summary</h2>
                    <div class="p-2">
                        <div class="row">
                            <div class="col-6">
                                <b class="p-2">Items</b>
                            </div>
                            <div class="col-6">
                                @Html.DisplayFor(modelItem => Model.Items)
                            </div>
                            <div class="col-6">
                                <b class="p-2">Total Price</b>
                            </div>
                            <div class="col-6">
                                <b class="p-2">@Html.DisplayFor(model => model.TotalPrice)</b> 
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="btn-checkout" asp-controller="OrderManager" asp-action="Index">Proceed To checkout</a>
                            </div>
                        </div>
                </div>  
            </div>
        </div>     
    }
    else
    {
        <div>
            You Nothing In You Cart
        </div>
    }
    <div>
        <a class="btn-back" asp-controller="Store" asp-action="Index">Continue shopping</a>
    </div>
   
</div>
<script src="~/js/cart.js" asp-append-version="true"></script>

